.App{
    width: 40%;
    margin: 2em auto;
    background-color: #3b0273 ;
    border-radius: 5px ;
    color: #04d9b2;
    box-shadow: 0 0 10px #00eb84;
}

.header-meucurso{
    padding: 0.5em;
    border-bottom: 1px solid #00eb84;
    text-align: center;
}

.header-meucurso h1{
    margin: 0;
}

.form-meucurso{
    padding: 1em;
    margin: 0 2em;
    border-bottom: 1px solid #04d9b2;
}

.form-meucurso h2,
.list-meucurso h2{
    text-align: center;
    margin-top: 0;

}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{
    font-weight: bold;
    font-size: .7em;
    margin-bottom: .4em;
}

.form-control input{
    border: 1px solid #04d9b2;
    border-radius: 2px;
    padding: 0.5em;
    
}

input[type="submit"]{
    display: block;
    color: #3b0273;
    width: 100%;
    border: 1px solid #04d9b2;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;

}